/*font-family: 'PT Serif', serif;
font-family: 'Lato', sans-serif;*/

/*-------- RESET ---------*/


html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*------ BASE --------*/


body{
    font-family: 'Lato', sans-serif;
    color: #8e8e8e;
    line-height: 1.5;
}

a{
    color:inherit;
    text-decoration:none;
}

li{
    list-style: none;
}
/*------ MODULE --------*/

.menu{
    width: 25%;
    background-color: #181818;

    height:100vh;

    position:fixed;
    top:0;
    left:0;
}

.main{
    padding-left:33.33%;
    padding-right: 8.33% ;
}


.menu h2{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 1.5rem;

    color: #fff;

}

.padding{
    padding:40px;
}

nav.media ul{
    display:flex;
    justify-content:space-between;
    padding:30px 0 40px;

    border-bottom: solid 1px;
}

.media a{
    font-size:2rem;
}

.media a:hover{
    color:#de1255;
}

.prin ul{
    display:flex;
    flex-direction: column;

    padding:0;
}

.prin li{
    display:flex;
}

.prin a{
    flex-grow:1;

    font-family: 'PT Serif', serif;
    padding: 20px 30px;

    color:#fff;
    font-size:24px;

}

.prin li:hover{
    background-color: #002f5f;
}


article{
    display:flex;
}

.date p{
    width:110px;
    height:110px;
    border : 10px #ebebeb solid;
    border-radius :50%;
    display:flex;
    justify-content:center;
    align-items: center;
}

.auteur{
    padding-left:20px;
    border-bottom: 1px #ebebeb solid;
    margin-top:45px;
}